
    @using MVC.Models.ViewModels.Mantenimiento;
@model IEnumerable<MantenimientoViewModel>

@{
    ViewData["Title"] = "ListarMantenimientosPorFecha";
}

<h2>Search maintenances for the selected cabin in a range of date </h2>

<form method="post">
    <label>Id :</label>
    <input type="text" name="Id"  value="@ViewBag.num"readonly /> <br />
    <label>Fecha minima :</label>
    <input type="text" name="fecha1" /> <br />
    <label>Fecha maxima :</label>
    <input type="text" name="fecha2" /> <br />
    <input type="submit" value=" buscar" class="btn-success" />
</form>

<div>@ViewBag.Mensaje</div>
@if (Model != null){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoMantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCabaña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCabaña)
            </td>

        </tr>
}
    </tbody>
</table>
}