
@using MVC.Models.ViewModels.Cabaña;
@model BuscarPorTipoViewModel;

<div>@ViewBag.Mensaje</div>
<form method="post">
    <div class="form-group">
        <label asp-for="IdTipoCabaña">Select a type of cabin:</label>
            <select asp-for="IdTipoCabaña" asp-items="@(new SelectList(Model.TiposCabañas, "Id", "Nombre"))"></select>
    <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (Model!=null)
{
    <h2>Cabins of the selected cabin type:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Jacuzzi</th>
                <th>Number of guests</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Cabañas != null && ViewBag.Cabañas.Count() > 1)
            {
                @foreach (var cabaña in ViewBag.Cabañas)
                {
                    <tr>
                        <td>@cabaña.NumeroHabitacion</td>
                        <td>@cabaña.Nombre</td>
                        <td>@cabaña.Descripcion</td>
                        <td><input type="checkbox" @(
                            cabaña.PoseeJacuzzi ? "checked" : "") disabled>
                        </td>
                        <td>@cabaña.CantidadPersonasMax</td>
                        <td><img src="/Imagenes/@cabaña.Foto" height="120" /></td>
                        <td>
                            @if (Model.RolUsuarioLogueado == "usuario")
                            {
                                @Html.ActionLink("Rent", "Create","AlquilerCabaña", new {  id=cabaña.NumeroHabitacion  })
                            }
                            @if (Model.RolUsuarioLogueado == "administrador")
                            {
                                @Html.ActionLink("Details", "Details", new {  id=cabaña.NumeroHabitacion  })
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}