
@using MVC.Models.ViewModels.Cabaña;
@model MostrarListaCabañasRolViewModel

@{
    ViewData["Title"] = "BuscarPorTextoNombre";
}

<h1>Search Cabin For Name.</h1>

<form method="post">
    <label>Name: </label>
    <input type="text" name="texto" id="texto" />
    <input type="submit" value="Search" class="btn-success" />
</form>
<div>@ViewBag.Mensaje</div>
@if(Model!=null){
<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                Room Number
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Daily Price
            </th>
            <th>
                Has a Jacuzzi
            </th>
            <th>
                    Maxium Guests
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cabañas) {
        <tr>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="120" />
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioDiario)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaHabilitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
            </td>
                    <td>
                        @if (Model.rolUsuarioLogueado == "usuario")
                        {
                            @Html.ActionLink("Rent", "Create","AlquilerCabaña", new {  id=item.NumeroHabitacion  })
                        }
                        @if (Model.rolUsuarioLogueado == "administrador")
                        {
                            @Html.ActionLink("Details", "Details", new {  id=item.NumeroHabitacion  })
                        }
                    </td>
        </tr>
}
    </tbody>
</table>
}
