
@using MVC.Models.ViewModels.Cabaña
@model CabañaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Information about the selected cabin</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <div class="card" style="width: 80%">
            <td>
                <img class="card-img-top" src="/Imagenes/@Model.Foto">
            </td>
        </div>
        <dt class="col-sm-2">
            Room Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroHabitacion)
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Has Jacuzzi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoseeJacuzzi)
        </dd>
        <dt class="col-sm-2">
            Enable
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstaHabilitada)
        </dd>
        <dt class="col-sm-2">
            Maximum Guests
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonasMax)
        </dd>
       <dt class="col-sm-2">
            Daily Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioDiario)
        </dd>
        <dt class="col-sm-2">
           Cabin Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCabaña.Nombre)
        </dd>
        <dt class="col-sm-2">
            Owner Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre) @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt class="col-sm-2">
            Owner Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>
</div>
<div>
    @* @Html.ActionLink("Crear nuevo mantenimiento", "Create", "Mantenimiento", new { id = Model.NumeroHabitacion })*@
    <div class="d-flex">
        <form method="get" asp-controller="Mantenimiento" asp-action="Create">
            <input type="hidden" asp-for="NumeroHabitacion" />
            <input type="submit" value="Add new Maitenance" class="btn btn-primary" />
        </form>


        <form method="post" asp-controller="Mantenimiento" asp-action="ListarPorCabaña">
            <input type="hidden" asp-for="NumeroHabitacion" />
            <input type="submit" value="List Maitenance" class="btn btn-primary" />
        </form>

        <form method="post" asp-controller="Cabaña" asp-action="Delete">
            <input type="hidden" asp-for="NumeroHabitacion" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>

    </div>
        <a asp-action="Index">Back to List</a>
</div>
