
@using MVC.Models.ViewModels.Cabaña
@model MostrarListaCabañasRolViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Cabins To Rent.</h1>

<div>@ViewBag.Mensaje</div>
@if (Model != null && Model.cabañas.Count>0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Daily Price
                </th>
                <th>
                    Has a Jacuzzi
                </th>
                <th>
                    Maxium Guests
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Type Of Cabin
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cabañas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioDiario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
                    </td>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="120" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCabaña.Nombre)
                    </td>
                    <td>
                        @if (Model.rolUsuarioLogueado == "usuario")
                        {
                            @Html.ActionLink("Rent", "Create","AlquilerCabaña", new {  id=item.NumeroHabitacion  })
                        }
                        @if (Model.rolUsuarioLogueado == "administrador")
                        {
                            <td>
                                @using (Html.BeginForm("Details", "Cabaña", new { id = item.NumeroHabitacion }, FormMethod.Get))
                                {
                                <button type="submit" class="btn btn-primary btn-md ">Details</button>
                                }
                                @using (Html.BeginForm("DeshabilitarCabaña", "Cabaña", new { idCabaña = item.NumeroHabitacion }, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-danger btn-md mt-2 ">Disable</button>
                                }

                            </td>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}









