
    @using MVC.Models.ViewModels.Cabaña
@model MostrarListaCabañasRolViewModel

@{
    ViewData["Title"] = "ListarPorMonto";
}

<h1>List By Price Range</h1>
<p>@ViewBag.Mensaje</p>
<form method="post">
    <div class="form-group">
        <label>Amount to search</label>
        <input type="number" name="monto" id="monto" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Daily Price
                </th>
                <th>
                    Room Number
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Has Jacuzzi
                </th>
                <th>
                    Maxium Guests
                </th>
                <th>
                    Photo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cabañas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioDiario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroHabitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstaHabilitada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
                    </td>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="120" />
                    </td>

                    <td>
                    <td>
                            @if (Model.rolUsuarioLogueado == "usuario")
                            {
                                @Html.ActionLink("Rent", "Create","AlquilerCabaña", new {  id=item.NumeroHabitacion  })
                            }
                            @if (Model.rolUsuarioLogueado == "administrador")
                            {
                                @Html.ActionLink("Details", "Details", new {  id=item.NumeroHabitacion  })
                            }
                    </td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
