
@using MVC.Models.ViewModels.Cabaña;
@model MostrarListaCabañasRolViewModel

@{
    ViewData["Title"] = "ListarDisponiblesEnRangoFechas";
}
<h1>List Cabins Avaliable In a Date Range</h1>
<p>@ViewBag.Mensaje</p>
<form method="post">
         <label>Date From</label>
    <input type="date" name="fDesde" id="fDesde" value="2020-01-01" />
         <label>Date Until</label>
    <input type="date" name="fHasta" id="fHasta" value="2020-02-01" />
         <button type="submit" class="btn btn-primary">Search</button>
</form>
@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Photo
            </th>
            <th>
                Description
            </th>
            <th>
                Daily Price
            </th>
            <th>
                Has Jacuzzi
            </th>
            <th>
                Maxium Guests
            </th>
            <th>
                Type of Cabin
            </th>
             <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cabañas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioDiario)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaHabilitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCabaña.Nombre)
            </td>
                    <td>
                            @if (Model.rolUsuarioLogueado == "usuario")
                            {
                                @Html.ActionLink("Rent", "Create","AlquilerCabaña", new {  id=item.NumeroHabitacion  })
                            }
                            @if (Model.rolUsuarioLogueado == "administrador")
                            {
                                @Html.ActionLink("Details", "Details", new {  id=item.NumeroHabitacion  })
                            }
                    </td>
        </tr>
}
    </tbody>
</table>
}