@using MVC.Models.ViewModels
@model IEnumerable<CabañaViewModel>

@{
    ViewData["Title"] = "ListarPorMonto";
}

<h1>Listar por rango de precio</h1>
<p>@ViewBag.Mensaje</p>
<form method="post">
    <div class="form-group">
        <label>Amount to search</label>
        <input type="number" name="monto" id="monto" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroHabitacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PoseeJacuzzi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstaHabilitada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadPersonasMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroHabitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstaHabilitada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
                    </td>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="120" />
                    </td>

                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Details/maintenance", "Details", new {  id=item.NumeroHabitacion  })
                        @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
