
@using MVC.Models.ViewModels.Cabaña;
@model IEnumerable<CabañaViewModel>;

@{
    ViewData["Title"] = "ListarNOHabilitadas";
}

<h1>List of cabins ables to rent.</h1>

<p>@ViewBag.Mensaje</p>
@if(Model!=null){
<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
               Room Number
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Has Jacuzzi
            </th>
            <th>
                Enabled
            </th>
            <th>
                Maxium Guests
            </th>
            <th>
                Id Type Of Cabin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="120" />
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoseeJacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaHabilitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonasMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoCabaña)
            </td>
            <td>
                        @using (Html.BeginForm("HabilitarCabaña", "Cabaña", new { idCabaña = item.NumeroHabitacion }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-success btn-md mt-2 ">Enable</button>
                        }
            </td>
        </tr>
}
    </tbody>
</table>
}